/* Home Page */
.App {
	height: 100vh;
	background-color: #eff5ff;
	font-family: "Raleway", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}
.gameInformation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 3%;
}

.game {
	background-color: #ffffff;
	border-radius: 15px;
	width: auto;
	height: auto;
	border-radius: 15px;
	display: flex;
}

.sideBar {
	border: solid 1px orange;
	border-radius: 15px;
	height: auto;
	width: 10vw;
	background-image: url("./assets/Oval\ \(1\).png");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 1%;
}

.submitButton {
	background: #022959;
	border-radius: 8px;
	color: #ffffff;
	height: 48px;
	width: 123px;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	margin-left: 70%;
}

.homeButton {
	margin-left: 5%;
}
.textHeader {
	font-family: "Ubuntu";
	font-size: 32px;
}

input {
	height: 48px;
	width: 450px;
	left: 0px;
	top: 0px;
	border-radius: 8px;
	border: #d6d9e6 solid 1px;
	margin-top: 3%;
}
span {
	margin-top: 3%;
}
/* Test */

.options {
	background: #022959;
	border-radius: 8px;
	color: #ffffff;
	height: 48px;
	width: auto;
	left: 0px;
	top: 0px;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	margin-top: 3%;
}

/* .buttonsContainer {
	display: flex;
	justify-content:space-evenly
} */
.ListMain {
	align-self: center;
}

/* instructions */
.instructions {
}

.question-count {
	margin-top: 25px;
}

.Container {
	display: table-cell;
	vertical-align: middle;
	align-self: center;
}

.question-section {
	/* Change background color */
	background-color: white;

	/* Add border */
	border: 1px solid #bacdd8;

	/* Add space between the border and the content */
	padding: 8px;

	border-radius: 12px;

	width: 70%;
}
